@font-face {
    font-family: "SanMarino";
    src: url(source/fonts/San\ Marino\ Beach.otf);
}

:root {
    --primary-color: #DAD378;
    --secondary-color: white;
    --terciary-color: #8DD9C2;
    --quaternary-color: #4B5FA6;
    --shadow-color: #BFBA69;
    --soft-green: #7BA64B;
    --hard-green: #457311;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 120rem;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

header h1 {
    font-family: SanMarino;
    font-size: 3.7rem;
    color: black;
    letter-spacing: 0.4rem;
}

header h1 a{
    color: black;
}

.user-options i {
    cursor: pointer;
    padding: 1rem;
    margin-top: 1rem;
}

.user-options i:hover {
    transform: scale(1.1);
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.search{
    border-radius: 0 2rem 2rem 0;
    min-height: 2.8rem;
    border-color: white;
    border-style: solid;
    width: 95%;
    margin: 0;
    padding: 0;
}

.btn-search{
    background-color: black;
    color: white;
    border: none;
    width: 5%;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-align: center;
}

.search-complete{
    width: 55%;
    background-color: black;
    border-radius: 2rem;
}

.menu-item{
    display: inherit;
}

header .flex-column ul a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: auto;
}

header .flex-column ul a:hover{
    color: #4B5FA6;
}

header .flex-column ul li{
    list-style-type: none;
}

.menu{
    padding: 1rem;
    padding-bottom: 4rem;
    position: relative;
}

.male{
    position: absolute;
    width: 100%;
    overflow: auto;
    top: 5rem;
    text-align: center;
    background-color: black;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    width: 0;
    transition: linear 0.4s all;
    display: flex;
    flex-direction:row
}

.female{
    position: absolute;
    width: 100%;
    overflow: auto;
    top: 5rem;
    text-align: center;
    background-color: black;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    width: 0;
    transition: linear 0.4s all;
    display: flex;
    flex-direction:row
}

.t-shirt{
    position: absolute;
    width: 100%;
    overflow: auto;
    top: 5rem;
    text-align: center;
    background-color: black;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    width: 0;
    transition: linear 0.4s all;
    display: flex;
    flex-direction:row
}

.coat{
    position: absolute;
    width: 100%;
    overflow: auto;
    top: 5rem;
    text-align: center;
    background-color: black;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    width: 0;
    transition: linear 0.4s all;
    display: flex;
    flex-direction:row
}

.trouser{
    position: absolute;
    width: 100%;
    overflow: auto;
    top: 5rem;
    text-align: center;
    background-color: black;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    width: 0;
    transition: linear 0.4s all;
    display: flex;
    flex-direction:row
}

.shoe{
    position: absolute;
    width: 100%;
    overflow: auto;
    top: 5rem;
    text-align: center;
    background-color: black;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    width: 0;
    transition: linear 0.4s all;
    display: flex;
    flex-direction:row
}

.hat{
    position: absolute;
    width: 100%;
    overflow: auto;
    top: 5rem;
    text-align: center;
    background-color: black;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    width: 0;
    transition: linear 0.4s all;
    display: flex;
    flex-direction:row
}

header .flex-column ul .suboption a{
    color: var(--primary-color);
}

.menu-item-male:hover~.male{
    width: 100%;
}

.menu-item-female:hover~.female{
    width: 100%;
}

.menu-item-tshirt:hover~.t-shirt{
    width: 100%;
}

.menu-item-coat:hover~.coat{
    width: 100%;
}

.menu-item-trouser:hover~.trouser{
    width: 100%;
}

.menu-item-shoe:hover~.shoe{
    width: 100%;
}

.menu-item-hat:hover~.hat{
    width: 100%;
}

.banner{
    position: relative;
}

.banner-text{
    position: absolute;
    top: 14rem;
    left: 20rem;
    align-items: center;
}

.banner-text h1{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 4rem;
    margin: 0.5rem;
    text-align: center;
}

.banner-text div{
    margin: 0;
    padding:1rem 9rem 1rem 9rem;
    background-color: var(--quaternary-color);
    border-radius: 0.5rem;
}

.banner-text p{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

.banner-text a{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: white;
    background-color: black;
    margin: 1rem;
    padding: 1rem 6rem 1rem 6rem;
    font-size: 1.7rem;
    border-radius: 0.7rem;
    border-style: solid;
    border-color: black;
    font-weight: bold;
    transition: linear 0.4s all;
}

.banner-text a:hover{
    background: var(--primary-color) radial-gradient(circle, transparent 1%, var(--primary-color) 1%) center/15000%;
    color: black;
    border-style: solid;
    border-color: black;
    transition: linear 0.4s all;
}

.banner-text a:active{
    background-color: black;
    background-size: 100%;
    transition: background 0s;
}

@keyframes carroussel {
    0% {margin-left: 3%;}
    50% {margin-left: -10%;}
    100% {margin-left: 3%;}
}

.tags{
    min-height: 50vh;
    animation: carroussel 5s linear 0s infinite;
}

.tags a img{
    transition: linear 0.4s all;
}

.tags a img:hover{
    transform: scale(0.9);
    transition: linear 0.4s all;
}

.body-content{
    width: 100%;
    position: relative;
    margin: 0;
    align-items: flex-start;
}

.body-content h1{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-style: italic;
    padding-right: 1rem;
    font-size: 2.8rem;
    text-align: left;
}

.right-line1 h1::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.2rem;
    background-color: black;
    top: 3.9rem;
    left: 16rem;
}

.right-line2 h1::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.2rem;
    background-color: black;
    top: 3.9rem;
    left: 29rem;
}

.cards-grid-big{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.card-big{
    max-width: 95%;
    min-height: 34rem;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(90deg, rgba(218,211,120,1) 26%, rgba(184,179,102,1) 69%);
    border-radius: 1.5rem 1.5rem 0 0;
}

.card-big:hover{
    box-shadow: 0.1rem 0.1rem 1.5rem black;
}

.card-big img{
    width: 105%;
    height: 105%;
    border-radius: 0.5rem;
}

.card-big img:hover{
    transform: scale(1.1) rotate(5deg);
    transition: linear 0.4s all;
}

.card-big h2{
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 2rem;
    margin-bottom: 0;
}

.card-big p{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.card-big a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: var(--quaternary-color);
    padding: 1rem;
    text-align: center;
    border-radius: 0 1rem 0 0;
}

@keyframes a-color {
    0% {background-color: var(--quaternary-color);}
    50% {background-color: black;}
    100% {background-color: var(--quaternary-color);}
}

.card-big a:hover{
    animation: a-color 5s linear 0s infinite;
}

.cards-galery{
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
}

.bgp-1{
    background: black;
    background-image: url(source/media/apresentation-1.jpg);
}

.bgp-2{
    background: black;
    background-image: url(source/media/apresentation-2.jpg);
}

.card-apresentation{
    width: 56.2vh;
    margin: auto;
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 1rem;
}

.card-apresentation:hover{
    box-shadow: 0.1rem 0.1rem 1.5rem black;
}

.card-apresentation h1{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 2.8rem;
    text-align: center;
    color: white;
    text-shadow: 0.3rem 0.3rem 0.5rem black;
    margin-bottom: 0.3rem;
}

.card-apresentation a{
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    background-color: black;
    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}

.card-apresentation a:hover{
    background: white radial-gradient(circle, transparent 1%, black 1%) center/15000%;
    color: black;
}

.card-apresentation a:active{
    background-color: black;
    background-size: 100%;
    transition: background 0s;
}

.grid-small-cards{
    width: 60%;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}

.small-card{
    position: relative;
    height: 25rem;
    width: 15rem;
    padding: 1rem;
    overflow: hidden;
    border-radius: 1rem;
    border-style: solid;
    border-color: black;
    border-top: 0.1rem;
    border-left: 0.1rem;
    margin-top: 2rem;
}

.small-card:hover{
    box-shadow: 0.1rem 0.1rem 1.5rem black;
}

.small-card img{
    height: 50%;
}

.small-card a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    width: 100%;
}

.small-card h2{
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: bold;
    height: 19%;
}

.small-card h3{
    margin-top: 0.8rem;
    margin-bottom: 0;
    padding: 0;
    font-size: 1.6rem;
    font-weight: bold;
    width: 100%;
    background-color: var(--terciary-color);
    border-radius: 0.5rem 0.5rem 0 0;
}

.small-card h4{
    margin-top: 0;
    margin-bottom: 0.6;
    padding-top: 0.3rem;
    padding: 0;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    background-color: var(--terciary-color);
    border-radius: 0 0 0.5rem 0.5rem;
}

.offer{
    font-family: 'Inter', sans-serif;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    position: absolute;
    right: 1rem;
    top: 0.3rem;
    background-color: var(--primary-color);
    font-weight: bold;
}

.favorite{
    display: none;
}

.fl1::after{
    content: "❤";
    color: black;
    font-size: 2rem;
}

.f1:checked~.fl1::after{
    color: red;
}

.fl2::after{
    content: "❤";
    color: black;
    font-size: 2rem;
}

.f2:checked~.fl2::after{
    color: red;
}
.fl3::after{
    content: "❤";
    color: black;
    font-size: 2rem;
}

.f3:checked~.fl3::after{
    color: red;
}
.fl4::after{
    content: "❤";
    color: black;
    font-size: 2rem;
}

.f4:checked~.fl4::after{
    color: red;
}

.fl5::after{
    content: "❤";
    color: black;
    font-size: 2rem;
}

.f5:checked~.fl5::after{
    color: red;
}

.fl6::after{
    content: "❤";
    color: black;
    font-size: 2rem;
}

.f6:checked~.fl6::after{
    color: red;
}

.fl7::after{
    content: "❤";
    color: black;
    font-size: 2rem;
}

.f7:checked~.fl7::after{
    color: red;
}

.fl8::after{
    content: "❤";
    color: black;
    font-size: 2rem;
}

.f8:checked~.fl8::after{
    color: red;
}
.fl9::after{
    content: "❤";
    color: black;
    font-size: 2rem;
}

.f9:checked~.fl9::after{
    color: red;
}
.fl10::after{
    content: "❤";
    color: black;
    font-size: 2rem;
}

.f10:checked~.fl10::after{
    color: red;
}

.fl11::after{
    content: "❤";
    color: black;
    font-size: 2rem;
}

.f11:checked~.fl11::after{
    color: red;
}

.fl12::after{
    content: "❤";
    color: black;
    font-size: 2rem;
}

.f12:checked~.fl12::after{
    color: red;
}

footer{
    background-color: var(--primary-color);
}

footer h1{
    font-family: SanMarino;
    font-size: 3rem;
    color: black;
    letter-spacing: 0.4rem;
    margin: 3rem 4rem 3rem 4rem;
}

footer h3{
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

footer a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 1.3rem;
    padding: 0.4rem;
}

footer i{
    margin: auto 1.5rem auto 1.5rem;
    cursor: pointer;
}

footer i:hover{
    transform: scale(1.1);
}

footer p{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

footer .container div{
    display: flex;
}

.footer-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 120rem;
}

.footer-1 div{
    margin: 0 1.5rem 0 1.5rem;
    justify-content: space-evenly;
}

.footer-1 a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 950px){
    @keyframes carroussel {
        0% {margin-left: 3%;}
        50% {margin-left: -60%;}
        100% {margin-left: 3%;}
    }
    .tags{
        min-height: 20vh;
        animation: carroussel 8s linear 0s infinite;
        margin-bottom: 3rem;
    }
    .card-apresentation{
        display: none;
    }
    .cards-galery{
        display: flex;
        padding-top: 3rem;
    }
    .grid-small-cards{
        margin: auto;
        width: 100%;
    }
    .ch-back1{
        background: linear-gradient(90deg, rgba(218,211,120,1) 26%, rgba(184,179,102,1) 69%);
    }
    .ch-back2{
        background: linear-gradient(90deg, rgba(75,95,166,1) 26%, rgba(64,85,162,1) 69%);
    }
    .small-card{
        background-color: white;
    }
    .small-card{
        margin: auto auto 2rem auto;
    }
}

@media only screen and (max-width: 800px){
    .flex-row{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .search-complete{
        width: 90%;
    }
    .search{
        width: 80%;
    }
    .btn-search{
        width: 20%;
    }
    .user-options{
        padding-top: 2rem;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .menu{
        padding: 0;
    }
    .menu-item-male{
        text-align: center;
    }
    .menu-item-female{
        text-align: center;
    }
    .menu-item-tshirt{
        text-align: center;
    }
    .menu-item-coat{
        text-align: center;
    }
    .menu-item-trouser{
        text-align: center;
    }
    .menu-item-shoe{
        text-align: center;
    }
    .menu-item-hat{
        text-align: center;
    }
    .menu-item-male{
        text-align: center;
    }
    .male{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: auto;
        top: 0rem;
        text-align: center;
        background-color: black;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        width: 0;
        transition: linear 0.4s all;
        display: flex;
        flex-direction:column;
    }
    .female{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: auto;
        top: 0rem;
        text-align: center;
        background-color: black;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        width: 0;
        transition: linear 0.4s all;
        display: flex;
        flex-direction:column;
    }
    .t-shirt{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: auto;
        top: 0rem;
        text-align: center;
        background-color: black;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        width: 0;
        transition: linear 0.4s all;
        display: flex;
        flex-direction:column;
    }
    .coat{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: auto;
        top: 0rem;
        text-align: center;
        background-color: black;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        width: 0;
        transition: linear 0.4s all;
        display: flex;
        flex-direction:column;
    }
    .trouser{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: auto;
        top: 0rem;
        text-align: center;
        background-color: black;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        width: 0;
        transition: linear 0.4s all;
        display: flex;
        flex-direction:column;
    }
    .shoe{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: auto;
        top: 0rem;
        text-align: center;
        background-color: black;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        width: 0;
        transition: linear 0.4s all;
        display: flex;
        flex-direction:column;
    }
    .hat{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: auto;
        top: 0rem;
        text-align: center;
        background-color: black;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        width: 0;
        transition: linear 0.4s all;
        display: flex;
        flex-direction:column;
    }
    .tags{
        animation: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 3rem auto auto auto;
    }
    .cards-grid-big{
        margin-top: 3rem;
        margin-bottom: 3rem;
        grid-template-columns: 1fr 1fr;
    }
    .card-big{
        margin: 1rem;
    }
    .ch-back2{
        display: none;
    }
}

@media only screen and (max-width: 650px){
    .banner{
        margin-left: -12rem;
    }
    .banner-text{
        left: 7rem;
    }
    .cards-grid-big{
        grid-template-columns: 1fr;
    }
    .grid-small-cards{
        grid-template-columns: 1fr 1fr;
    }
    .footer-1{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 540px){
    .banner-text{
        left: 11rem;
    }
    .tags{
        grid-template-columns: 1fr 1fr;
    }
    .social-media{
        flex-direction: column;
        padding-bottom: 3rem;
    }
    .social-media div{
        margin: auto;
    }
}

@media only screen and (max-width: 430px){
    .banner-text{
        left: 5.5rem;
    }
    .grid-small-cards{
        grid-template-columns: 1fr;
    }
    .footer-1{
        grid-template-columns: 1fr 1fr;
    }
}


@media only screen and (max-width: 414px){
    .banner-text{
        left: 4.5rem;
    }
}


@media only screen and (max-width: 393px){
    .banner-text{
        left: 3.5rem;
    }
}

@media only screen and (max-width: 350px){
    .banner-text{
        left: 1rem;
        width: 95vw;
    }
    .banner-text div{
        padding:1rem;
    }
    .banner-text a{
        padding:1rem;
    }
    .tags{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 300px){
    .footer-1{
        grid-template-columns: 1fr;
        margin: auto;
    }
    .footer-1 div{
        margin: auto;
        align-items: center;
    }
}